#charaViewContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 88vh;
}

#infoTable{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.2em;
  align-self: center;
  background-color: palevioletred;
}

#fullImage{
  object-fit: contain;
  margin-right: 200px;
}

#infoTable > h2{
  font-size: 2em;
}
#infoTable p{
  font-size: 1.2em;
}

#charaUrl{
  color: white;
}






.mediaIcon{
  margin-left: 5px;
}

#charaViewContainer a{
  color: rgb(25, 85, 214);
}



@media (max-width: 768px) {


  #charaViewContainer{
    flex-direction: column;
    height: 100%;
    margin-top: 50px;
  }

  #fullImage{
    object-fit: contain;
    margin-right: 0;
    width: 100%;
    align-self: center;
  }

  #infoTable{
    align-items: center;
    min-width: 100%;
    padding: 0 10px;
    line-height: 1.8;
  }

}

