#charaViewContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 auto;
	margin-top: 50px;
	width: 60%;
	max-height: 80vh;
	height: 80vh;
	/* margin: 100px auto; */
	border: 1px solid white;
	border-radius: 20px;
}

.imgContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 15px;
}

.charaFullImage {
	object-fit: contain;
	margin: auto;
	height: 100%;
	width: 100%;
}

.mediaIcon {
	margin-left: 5px;
}

#charaViewContainer a {
	color: rgb(72, 117, 214);
}

/* Table Info */
.tableContainer {
	width: 100%;
	padding: 0 10px;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	/* background-color: #102041; */
	border-radius: 10px;
	border-spacing: 0;
	/* width: 100%; */

	text-align: center;
	overflow: hidden;
}

table th,
table td {
	/* border: 1px solid #ccc; */
	padding: 8px;
	/* text-align: center; */
	vertical-align: middle;
}

button {
	margin-left: 10px !important;
}

@media (max-width: 768px) {
	#charaViewContainer {
		flex-direction: column;
		height: 100%;
		margin-top: 50px;
	}

	.charaFullImage {
		object-fit: contain;
		margin-right: 0;
		width: 100%;
		align-self: center;
	}
}
