#charaList{
  display: flex;
  flex-wrap:  wrap;
  justify-content: center;
  width: 95%;
}

#charaList > li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  margin: 10px 15px;  
  user-select: none;
}

#charaList > li > a {
  text-align: center;
  font-size: 1em;
  transition: .02s all;
  width: 120px;
  height: 140px;
}
  
#charaList p{
  white-space: nowrap;
}

#charaList > li > a > img {
  position: relative;
  margin-top: 3px;
  width: 120px;
  height: 120px;
  z-index: 1000;
  border-radius: 100%;
  object-fit: cover;
  transition: .2s ease all;
}


#charaList img:hover{
  border-radius: 0;
}


@media (max-width: 768px) {

  
 
  #charaList{
    position: relative;
    width: 100vw;
    min-width: 100%;
  }

  #charaList > li{
    margin: 30px 20px; 
    padding: 0;
  }

  #charaList > li > a{
    width: 150px;
    height: 120px;
    font-size: 1.1em;

  }

  #charaList > li > a > img {
    width: 150px;
    height: 150px;
  }

  #charaList img:hover{
    border-radius: 100%;
  }
  

}