#charaList{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#charaList > li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  margin: 10px 15px;  
  user-select: none;
}

#charaList > li > a {
  text-align: center;
  font-size: 1em;
  transition: .02s all;
  width: 120px;
  height: 140px;
}
  
#charaList p{
  white-space: nowrap;
}

#charaList > li > a > img {
  margin-top: 3px;
  width: 120px;
  height: 120px;
  z-index: 1000;
  border-radius: 100%;
  object-fit: cover;
  transition: .2s ease all;
}

#charaList > li a:active{
  scale: .9;
  transition: .03s ease-out all;
}

#charaList img:hover{
  border-radius: 0;
}