#selectSchoolContainer{
  display: flex;
}

#selectSchool{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; 
  align-content: space-around;
  user-select: none;  
}

#selectSchool > li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 0 5px;
  border-radius: 100%;

}

#selectSchool img{
  width: 200px;
  height: auto;
}

#selectSchool img:hover {
  filter: drop-shadow(white 0 0 12px );
  scale: 1.4;
  transition: .01s all;
}

#selectSchool img:active{
  scale: 1;
  transition: .03s ease-out all;
}

@media (max-width: 768px) {

  #selectSchool{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 0;
    min-width: min-content;
  }

}