:root {
  font-family: 'Open Sans', sans-serif;
}


#mainContainer{
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 8vh 1fr;
  justify-items: center;
}

body{
background-color: #011d38;

}

*{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}


/* Light and Dark themes */

.mainDark{
  background-color: #011d38;
}

.mainLight{
  background-color: #a8d5ff;
}

.dark{
  color: white;
}

.light{
  color: black;
}

.outlineDark{
  outline: 2px solid white;
  border-radius: 80px;
}

.outlineLight{
  outline: 2px solid black;
  border-radius: 80px;
}

.Hide{
  display: none;
  position: absolute;
}

.NoHide{
  align-items: flex-start;
}

.gridRow1{
  grid-row: 1/2;
  grid-column: 1/-1;
}
.gridRow2{
  grid-row: 2/-1;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {

  

  #mainContainer{
    min-width: min-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content 1fr;
  }

  .outlineDark{
    outline: none;
    border-radius: 0;
  }
  
  .outlineLight{
    outline: none;
    border-radius: 0;
  }
}