:root {
  font-family: 'Open Sans', sans-serif;
}


#mainContainer{
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 8% 1fr;
}

body{
background-color: #011d38;

}

*{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}


/* Light and Dark themes */

.mainDark{
  background-color: #011d38;
}

.mainLight{
  background-color: #a8d5ff;
}

.dark{
  color: white;
}

.light{
  color: black;
}

.outlineDark{
  outline: 2px solid white;
  border-radius: 80px;
}

.outlineLight{
  outline: 2px solid black;
  border-radius: 80px;
}

.Hide{
  display: none;
  position: absolute;
}

.NoHide{
  align-items: flex-start;
}