#navBarUl {
	width: 100%;
	position: fixed;
	background-color: rgba(0, 68, 133, 1);
	z-index: 10;
	display: flex;
	align-items: center;
	min-width: max-content;
	height: 82px;
	font-size: 1.2em;
	padding: 5px 0;
	margin: 0;
	left: 0;
}

.navLi {
	transition: all ease-out 0.05s;
	margin: 0 10px;
	padding: 0 5px;
}

.currentRoute {
	border-bottom: 1px solid rgb(255, 255, 255);
}

.aNavbar:hover {
	cursor: pointer;
	border-bottom: 2px solid white;
}
#logoImgContainer {
	height: 100%;
	padding: 5px;
	width: max-content;
	margin-right: 45px;
}

#logoImg {
	height: 100%;
	transform: rotate(360deg);
	border-radius: 50%;
	outline: 1px solid white;
}

/* @media (max-width: 768px) {
	ul {
		margin-top: 15px;
		flex-direction: column;
		min-width: max-content;
		height: max-content;
		min-width: max-content;
		font-size: 1.3em;
	}

	#logoImg {
		height: 150px;
	}

	#navBarContainer li {
		padding: 5px 0;
	}

} */
